@model IEnumerable<BugTicketingSystemV2.Models.Project>

    @{

    var SelectedPage = (int)ViewData["SelectedPage"];
    var SelectedProjectsPerPage = (int)ViewData["SelectedProjectsPerPage"];
    var PagesCount = (int)ViewData["PagesCount"];
    var ProjectsCount = (int)ViewData["ProjectsCount"];
    }

    <h1>All Projects</h1>

    <div>
        <a asp-controller="Projects" asp-action="AddProject" asp-route-id="">Create New Project</a> |
        <a asp-controller="Projects" asp-action="CurrentProjects" asp-route-id="">Current Projects</a>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Managers</th>
                <th>Links</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>@item.Title</td>

                <td>
                    @{
                    HashSet<string> pms = new HashSet<string>();
                    }
                    @foreach (var user in @item.Users)
                 {
                     if (user != null)
                        pms.Add(user.UserName);
                 }
                    @foreach (var user in pms )
                 {
                    @user
                    <br />
                 }
                </td>

                <td>
                    <a asp-controller="Projects" asp-action="ProjectDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="EditProject" asp-route-id="@item.Id">Edit</a> |
                    @if(item.Users != null)
                {
                    <a asp-controller="Projects" asp-action="AssignProject" asp-route-id="@item.Id">Assign Project</a>
                }
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
}
        </tbody>
    </table>

    <form method="get" action="AllProjects">
    <input type="hidden" id="SelectedProjectsPerPage" name="SelectedProjectsPerPage" value=@SelectedProjectsPerPage>
    @if (SelectedPage > 0)
    {
        <button id="SelectedPage" name="SelectedPage" type="submit" value=@(SelectedPage-1)>Previous Page</button>
    }
    @if (SelectedPage < PagesCount)
    {
        <button id="SelectedPage" name="SelectedPage" type="submit" value=@(SelectedPage+1)>Next Page</button>
    }
</form>

<form method="get" action="AllProjects">
        <label for="SelectedProjectsPerPage">Projects Per Page:</label>
        <select id="SelectedProjectsPerPage" name="SelectedProjectsPerPage">
        @for(int i = 1; i < ProjectsCount; i++ )
        {
            <option value=@i>@i</option>
        }
        </select>
        <input type="submit" value="Submit">
</form>
