@model IEnumerable<BugTicketingSystemV2.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="float: left; margin-top: -5px;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                Priority
            </th>
            <th>
                Submitter
            </th>
            <th>
                Handler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticketPriority)
            </td>
            <td>
                @foreach (var user in @ViewBag.SUsers)
                {
                    if (item.SubmitterId == user.Id)
                    {
                        @user.UserName

                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
