@model BugTicketingSystemV2.Models.Ticket

<h1>Details</h1>

@if(Model.TicketComments.Count == 0)
            {
                <h4></h4>
            }

<div>
    <h4>Ticket Comments</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Created Time
                </th>
                <th>
                    Description
                </th>
                <th>
                    User
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TicketComments.Count == 0)
            {
                <h4>No comments available for this Ticket</h4>
                <a asp-action="AddComment" asp-route-id="@Model?.Id" style="text-decoration: none; background-color: black; padding: 0.5rem 1rem; color: whitesmoke">Add Comment</a>
            }
            else
            {
                @foreach (var item in Model.TicketComments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                        <td>
                            @foreach (var user in ViewBag.SUsers)
                            {
                                @if (user.Id == item.UserId)
                                {
                                    @Html.DisplayFor(modelItem => item.User.UserName)

                                }
                            }
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.Id" style=text-decoration: none">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">Details</a>
                        <a asp-action="MarkAsResolved" asp-route-id="@item.Id" style="font-size: 0.5rem; text-decoration: none">Resolved</a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="AddComment" asp-route-id="@Model?.Id" class="btn button">Add Comment</a>
    <a asp-action="Details" asp-route-id="@Model?.Id" class="btn button">Back to Details</a>
</div>
<style>
    .btn {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 1.5px solid #0d6efd;
        border-radius: 1em;
        color: #0d6efd;
        cursor: pointer;
        align-self: center;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 1;
        margin: 10px;
        padding: 1em 1em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

        .btn:hover, .btn:focus {
            color: #fff;
            outline: 0;
        }

    .button {
        border-color: #0d6efd;
        border-radius: 1rem;
        color: #0d6efd;
        position: relative;
        overflow: hidden;
        z-index: 1;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }

        .button:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            background: #0d6efd;
            z-index: -1;
            -webkit-transition: width 150ms ease-in-out;
            transition: width 150ms ease-in-out;
        }

        .button:hover {
            color: #fff;
        }

            .button:hover:after {
                width: 110%;
            }
</style>